body {
    background-image: linear-gradient(to right top, #142237, #154e6d, #0080a0, #00b6c9, #08eee4);
    height: 100vh;
    margin: 0; 
    background-size: cover; 
    background-repeat: no-repeat; 
	
}

#Nombreescuela{
	margin-top: 10%;
	color: white;
}
#contenido{
	background-color: #154e6d;
}